TS/ClassLibrary/obj/
TS/ClassLibrary/bin/
TS/ControlLibrary/obj/
TS/ControlLibrary/bin/
TS/T001/obj/
TS/T001/bin/
TS/T002/obj/
TS/T002/bin/
TS/T004/obj/
TS/T004/bin/
TS/T005/obj/
TS/T005/bin/
TS/T006/obj/
TS/T006/bin/
TS/T007/obj/
TS/T007/bin/
TS/T008/obj/
TS/T008/bin/